body {
    background-color: rgba(191, 189, 189, 0.497);
}

h1 {
    margin: 20px;
}

p {
    padding: 20px;
}

input {
    padding: 10px;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .kiTD {
        width: 50%;
    }

}