* {
    margin: 0px;
    padding: 0px;
}

@keyframes cardheader {
    from {}

    to {
        background-color: rgba(128, 128, 121, 0.726);

    }
}

@keyframes teker {

    0%,
    50%,
    100% {
        transform: scale(1);
        filter: blur(0px);
    }

    25% {
        transform: scale(0.6);
    }

    75% {
        transform: scale(1.4);
        background-color: #02e4e7;
    }
}

body {
    background-image: url("img/SL_042620_30310_36.jpg");
    background-repeat: none;
    color: black;
    height: 280vh;
    justify-content: center;
    align-items: cemter;
}

.container {
    margin: 20px auto;
    max-width: 960px;

}

a {
    text-decoration: none;
    color: black;
}

.menu {

    margin: auto;
    border-radius: 15px;
}

.menu:hover {
    animation-name: cardheader;
    animation-duration: 2s;
    animation-fill-mode: both;

}

.card {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.2);

}

.enKep {
    width: 250px;
    float: right;
    border-radius: 50%;
}

.enKep:hover {
    border: 5px solid silver;
    transform: rotate3d(360);
    opacity: 0.5;
}

p {
    text-indent: 20px;
}

h5 {
    text-align: left;
    padding: 10px;
}

h5:hover {
    transform: translate3d(0, -10px, 22px);
    color: #ff0266;
}

.form-label {
    margin: 0px 100px 10px 100px;
}

span {
    margin-left: 20px;
    float: right;
    margin-right: 30px;
}

.card {
    padding: 20px;
}

#skill {
    float: right;
}

.range {
    float: right;
    padding: 10px;
}


.contIMG {
    width: 50px;
    background-color: white;
    opacity: 0.4;

}

.contIMG:hover {
    border: solid rgb(158, 158, 158) 1px;
    opacity: 0.7;
}

.imgContDiv {
    margin: auto;
    width: 120px;
    text-decoration: none;

}

#work {
    scroll-snap-type: mandatory;
    width: 940px;
    height: 300px;
    margin: 30px auto;
    overflow: auto;
    border: solid rgb(158, 158, 158) 2px;


}

.workItem {
    position: relative;
    margin: 10px auto;
    text-align: center;
    width: 350px;
    padding: 50px;
    background-color: rgba(105, 104, 104, 0.21);
    border-radius: 20px;

}

.workItem:hover {
    background-color: rgba(105, 104, 104, 0.91);
    color: white;
}

.cicrcles {
    width: 30px;
    height: 30px;
    animation: teker 1s 0.7s linear infinite;
    margin: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cicrle-1 {
    background-color: #9edfdc;

}

.cicrle-2 {
    animation-delay: 0.2s;
    background-color: #9edfdc;
}

.cicrle-3 {
    animation-delay: 0.4s;
    background-color: #9edfdc;
}